/* wrapper >>> */
@import "./components/wrapper/styling-wrapper.css";
/* card-list >>> */
@import "./components/card-list/styling-card-list.css";

/* todo-list */
@import "./components/todo-list/styling-todo-list.css";

/* google font >>> */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700;800&family=Pacifico&family=Roboto:wght@300;400;500;700&family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* wrapper >>> */
.wrapper-container {
  margin: 50px auto;
  width: 100%;
}
/*  card-list >>> */
.card-list {
  padding: 30px 240px;
}
/* todo-list */
.todo-list-hero {
  margin: 50px auto;
  width: 70%;
  background: #f9f9f9;
  padding: 30px;
}
