.todo-list {
  border: 1px solid #aeaeae;
  background-color: #fff;
}
.todo-heading {
  border-bottom: 1px solid #aeaeae;
  padding: 30px;
}

.todo-list-ul {
  padding: 30px;
}
li {
  padding: 20px;
  border-bottom: 1px solid #aeaeae;
}
