.wrapper-left {
  width: 50%;
  padding: 30px 0 0 30px;
}
.wrapper-logo {
  font-family: "Pacifico", cursive;
  font-weight: 700;
  font-size: 40px;
}

.wrapper-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px;
  font-size: 22px;
}

.wrapper-content-center h5 {
  text-decoration: underline;
  margin-bottom: 20px;
}
.wrapper-content-center h1 {
  font-family: "EB Garamond", serif;
  margin-bottom: 20px;
  font-size: 70px;
  font-weight: 500;
}
.wrapper-content-center p {
  word-spacing: 1px;
}
.wrapper-button {
  margin: 30px 0;
  padding: 10px 20px;
  background-color: #ff531a;
  color: #fff;
  border: none;
  outline: none;
  font-size: 20px;
}
.wrapper-button i {
  margin-left: 10px;
}

.wrapper-pages {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 50px;
}

.wrapper-page {
  text-decoration: underline;
  font-weight: bold;
}
