.todo-form {
    display: flex;
    width: 100%;
    height: 30px;
}

.todo-form input {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding-left: 20px;
}

.todo-form button {
    width: 35px;
    height: 108%;
    background-color: rgb(13, 112, 194);
    border: 1px solid rgb(13, 112, 194);
    margin-left: 5px;
    color: white;
    border-radius: 4px;
}