li {
  color: #635d58;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-item-checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.todo-item-btn {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 3px;
}
.btn-warning {
  background-color: #ffd797;
  border: 1px solid #ff9d00;
  padding-top: 5px;
  color: #ab6a00;
  font-size: 16px;
}

.item-button-del {
  width: 40px;
  height: 30px;
  color: red;
}

.todo-done {
  text-decoration: line-through;
}
