.task-item {
  border-bottom: solid 1px #d2d2d2;
  padding: 30px;
  display: flex;
  position: relative;
}

.label-task-name {
  margin-left: 20px;
}

.label-task-name-done {
  margin-left: 20px;
  text-decoration: line-through;
}