@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,500&display=swap');
*{
   font-family: 'Montserrat', sans-serif;
}
.big-box{
   display: flex;
   justify-content: space-between;
   width: 650px;
   height: 400px;
   margin: 20px auto;
   box-shadow: 2px 2px 10px 1px rgba(128, 128, 128, 0.649);
   background-color: white;
}
.big-box__content{
   width: 300px
}
.big-box__content__description{
   position: relative;
   top: 100px;
   left: 70px;
   width: 70%;
}
.big-box__content__description .title{
   margin-bottom: 10px;
   font-size: 30px;
   font-weight: 600;
   text-align: left;
}
.big-box__content__description .detail{
   font-size: 12px;
   font-weight: 400;
   text-align: left;
}
.big-box__content__description button{
   position: absolute;
   top: 160px;
   left: 0;
   border: unset;
   height: 20px;
   background-color: #ff6744;
   color: white;
}

.big-box__image{
   height:100%;
   overflow: hidden;
}
.big-box__image img {
   width: 350px;
   transform: translateY(-50px);
}  
