.completed {
  text-decoration: line-through;
  color: rgb(45, 243, 45);
  opacity: .5;
}
ul {
    list-style-type: none;
}
.app{
  width: 600px;
  margin: 20px auto;
  background-color: rgb(249, 249, 249);
}
p {
  margin-left: 10px;
  border-bottom: 1px solid black;
}
span {
  margin-left: 10px;

}
.remove {
  display: none;
  color: white;
}