@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400&display=swap');

*{
   font-family: 'Roboto', sans-serif;
}

.small-box{
   width: 200px;
   height: fit-content;
   margin: 20px;
   box-shadow: 2px 2px 10px 1px rgba(128, 128, 128, 0.649);
   border-radius: 10px;
   overflow: hidden;
   background-color: white;
}

.small-box__image{
   width: 100%;
   overflow: hidden;
}
.small-box__image img{
   width: 200px;
}

.small-box__content{
   padding: 10px
}
.small-box__content .type{
   width: 100px;
   height: 20px;
   margin: 5px;
   border-radius: 20px;
   line-height: 20px;
   color: white;
}
.small-box__content .title{
   font-weight: 600;
   font-size: 11px;
   text-align: left;
   line-height: 15px;
   margin: 10px 0;
}
.small-box__content .detail{
   font-size: 10px;
   text-align: left;
}

.small-box__author{
   height: 70px;
}
.small-box__author .image{
   position: relative;
   width: 50px;
   height: 50px;
   border: 1px dashed #333;
   border-radius: 50%;
   margin: 5px;
}
.small-box__author .author-name{
   position: relative;
   top: -50px;
   left: 40px;
   display: block;
   width: 90px;
   font-size: 9px;
   font-weight: 600;
}
.small-box__author .author-time{
   position: relative;
   top: -55px;
   left: 35px;
   display: block;
   width: 90px;
   font-size: 9px;
}