.container {
   background-color: rgb(46, 45, 45);
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.app-wrapper {
   background-color: rgb(81, 78, 78);
   width: 60%;
   height: 550px;
   box-sizing: border-box;
   border-radius: 10px;
   box-shadow: 3px 6px 40px #000;
}
